**/.DS_Store
**/.AppleDouble
**/.LSOverride
**/*.map
**/.idea
**/.vscode
/todo**
/client/*
!/client/package.json
!/client/package-lock.json
!/client/node_modules/
/client/node_modules/*
!/client/node_modules/klaro/
/client/node_modules/klaro/*
!/client/node_modules/klaro/dist/
!/client/node_modules/klaro/dist/*
/client/node_modules/klaro/dist/assets/*
/client/node_modules/klaro/dist/examples/*
